body {
    background-color: #DFD0F2;
}

h1 {
    font-family: Helvetica, sans-serif;
    color: #3A3335  
}

.descricao {
    font-family: monospace;
     color: #F45866
}
.listasize1{
    font-size: medium;
}
.listasize2{
    font-size: large;
}
.listasize3{
    font-size: larger;
}
.listasize4{
    font-size: x-large;
}
.listasize5{
    font-size: xx-large;
}
.botao {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.botao:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.botao:active {
	position:relative;
	top:1px;
}
.nome-titulo{
	padding: 30px 70px 30px 70px;
	text-align: center;
}
.nome-texto{
	padding: 30px 70px 30px 70px;
	text-align: center;
}
.foto{
	display: inline-block;
    margin-left: 40%;
	padding-top: 50px;
	padding-bottom: 50px;
    padding-left: 50px;
	padding-right: 50px;
	background-color: blueviolet;
  
}
.description{
	position: relative;
	padding: 30px;
	text-align: right;
	top: -150px;
	left: -350px;
	
    
}
.listaestilo{
	text-align: center;
	list-style: inside;
}

.listaitem{
	
}